/* :root{
  --background_light:#00a6a4;
  --background_dark:#084a49;
} */

/* :root {
  --background_light: #1b6488;
  --background_dark: #012133;
} */

:root {
  /* --background_light:#28566c; */
  --background_light: #197976;
  --background_dark: #002233;
}

*{
  font-family:  "CoFoGothic", sans-serif;
}




/* header */
.background {
  background: var(--background_dark);
  color: #ffffff;
}




/* navbar */
.nav_container{
  padding-left: 20px;
  padding-right: 20px;
}
.navbar {
  background: var(--background_dark);
  color: #fff;
}
.navbar-brand {
  font-size: 26px;
}

.header_link {
  padding: 2px;
  border-radius: 20px;
  font-size: 14px;
  letter-spacing: .5px;
  font-weight: 600;
  color: #fff;
}

/* .header_link:hover {
  background: #fff;
  color: var(--background_light);
} */




/* footer */
.footer {
  background: var(--background_dark);
  color: #fff;
}

.footer_link {
  font-size: large;
  margin-right: 2rem;
  font-weight: 600;
  color: #fff;
}

.footer_link:hover {
  color: #fff;
}

.footer h5 {
  font-size: 18px;
}
.inquiries {
  list-style: none;
  padding-left: 0;
}





/* all button */
.connect_btn,.request_demo_btn,.tour_btn,.menu_btn,.schedule_btn{
  border-radius: 25px;
  font-weight: 700;
  cursor: pointer;
}

.menu_btn{
  color:var(--background_dark);
  margin-left: 1rem;
}

.request_demo_btn,.tour_btn{
  border-color:var(--background_dark);
  color:var(--background_dark);
}
.request_demo_btn:hover,.tour_btn:hover{
  background-color:var(--background_light);
  color:#fff;
}
.tour_btn{
  margin-left: 5%;
}
.connect_btn{
  position: absolute;
  top:5px;
  right: 5px;
  background:var(--background_dark);
  color: #fff;
  /* transition: transform 0.3s ease; */
}

.connect_btn:hover{
  background: var(--background_light);
  color: #fff;
  /* transform: scale(1.1); */
}
.search_box{
  width:80%;
  position: relative;
}

.search_box_footer{
  width: 50%;
  position: relative;
}
.search{
  /* width:100%; */
  padding: .7rem 1rem;
  border-radius:25px;
}

.schedule_btn{
  background: #fff;
  color: var(--background_dark);
  font-size: large;
}

.schedule_btn:hover{
  background: #fff;
  color: var(--background_dark);
}






/* sections1 - welcoming */

    .welcoming{
      padding-top: 90px;
      height: 80vh;
      width: 100%;
    }

    .title {
      font-size: 50px;
    }

    .para{
        font-size: 18px;
    }
     
      


    /* section2 and section4 - challenges and challenges1 */
    .tag_line{
      font-size: 5.7rem;
      font-weight: 800;
    }

    .challenges{
      height: 90vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .challenges1{
      height: 93vh;
      display: flex;
      justify-content: center;
      align-items:center;
    }

    .value_para{
      font-size: 28px;
    }






    /* section3 - workflow */
    .section_title{
      font-size: 50px;
    }

    .section_para{
      font-size: 20px;
  }





/* section6 - usecasesSection */
#usecasesSection {
  color: #fff;
  width: 100%;
  height: 100vh;
  position: relative;
  background-color:#002233
}
 
#usecasesSection h1 {
  position: relative;
  font-size: 5rem;
   text-align: center;
  color: white;
  font-weight: 700;
    top: 33%;
}

.boxes{
  background: transparent;
  width: 550px;
  height: 360px;
  position: absolute;
  overflow: hidden;
}
 
#finance_card {
  left: 10%;
  top: 80vh;
}
 
#healthcare_card {  
  left: 50%;
  top: 130vh;
}
 
#legal_card {
  left: 10%;
  top: 183vh;
}
 
#retail_card {  left: 50%;
  top: 238vh;
}
 
#education_card {  left: 10%;
  top: 293vh;
}
 
 
.boxes img {
  position: absolute;
  /* height:800px; */
  width: 100%;
  object-fit: inherit;
}
.overlay_text {
  color: #fff;
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: -140%;
  left: 0;
  padding: 3rem 2rem;
  transition: 0.4s linear;
}
.overlay_title {
  color: #fff;
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: -40%;
  padding: 3rem 2rem;
  transition: 0.4s linear;
}
 
.boxes:hover .overlay_title {
  bottom: 100%;
}
.card_pare {
  position: absolute;
  bottom: 0;
}
.boxes:hover .overlay_text {
  bottom: 0%;
}
 
.finance {
  background-color: #3a7252;
  right:0 ;
}
 
.healthcare {
  background-color: #533a72;
}
 
.legal {
  background-color: #72503a;
}
 
.retail {
  background-color: #197976;
}
 
.education {
  background-color: #3a4b72;
}
 
 
.application_title {
  /* font-size: 16px; */
  font-weight: 600;
}
.point1 {
  margin-bottom: 6px;
}
.points {
  font-weight: 700;
  padding-bottom: 1rem;
}


/* section7 - demovideo */
.video_div{
  position: relative;
}
.video_div i{
  position: absolute;
  color: #fff;
  font-size: 60px;
  cursor: pointer;
}

.video_content{
padding-left: 4rem;
}








  /*  section8 - FAQs */


  .accordion-item{
    border-left:0;
    border-right: 0;
  }

  .accordion-button {
    background-color: #fff;
    font-size: 20px;
    font-weight: 600;
  }

  .accordion-button:focus {
  box-shadow: none;
  background-color: #fff;
  }

  .accordion-button:not(:focus) {
  background-color: #fff;
  }

  .load_text{
    cursor: pointer;
    font-weight: 600;
  }

  .load_text a{
    text-decoration: none;
    color: #000;
  }



  
  /* section9 - consultation */

  .consultation{
    height: 65vh;
    margin-top: 2rem;
  }
  .consultation .container{
      width: 71%;
      border-radius: 20px;
      display: flex;
      justify-content: center;
      padding:4rem 0;
      /* background-color: var(--background_dark); */
    }

.jumbotron {
width:91%;
border-radius: 20px;
background-color: var(--background_light);
color: #fff;
}
.jumbotron h1{
font-size: 40px;
font-weight: 800;
}
.jumbotron p{
  font-size:18px;
}
